<filesMatch "\.(css|js)$">
FileETag None
	<ifModule mod_headers.c>
		header unset ETag
		header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		header set Pragma "no-cache"
	</ifModule>
</filesMatch>